.App {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: flex-end;
  display: none;
}

.rightBox {
  display: flex;
  flex-grow: 400px;
  width: 400px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #FFF;
  background-image: url('/me.jpg');
  background-size: cover;
}

.position {
  margin-top: 1em;
}

.position p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 1em;
  letter-spacing: 6px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.position h1 {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  color: #FFF;
  font-size: 2.2em;
  letter-spacing: 3px;
  margin: 0;
  margin-top: -1px;
  text-align: center;
  padding: 0;
}

.social-icons ul {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  list-style: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.social-icons li {
  width: 40px;
  text-align: center;
}

.social-icons li a:link, .social-icons li a:visited {
  color: #FFF;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
}
/*twitter facebook linkedin github*/
.social-icons li a.twitter:hover, .social-icons li a.twitter:active {
  color: #1da1f2;
}
.social-icons li a.facebook:hover, .social-icons li a.facebook:active {
  color: #3b5998;
}
.social-icons li a.linkedin:hover, .social-icons li a.linkedin:active {
  color: #1c87bd;
}
.social-icons li a.github:hover, .social-icons li a.github:active {
  color: #000;
}
